{% extends 'base.html.twig' %}

{% block title %}Lista exportów{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Raport</h3>
        </div>
        <div class="col-3 d-flex flex-column">
            {{ form_start(form, {attr: {class:'filterForm'}}) }}
            <div class="topSection">
                <div>
                    {{ form_widget(form.place) }}
                </div>
                <div>
                    {{ form_widget(form.date_from) }}
                </div>
                <div>
                    {{ form_widget(form.date_to) }}
                </div>
            </div>

            <div class="bottomSection">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Użytkownik</th>
                    <th>Lokal</th>
                </tr>
                </thead>
                <tbody>
                {% for export in exports %}
                    <tr>
                        <td>{{ export.name }}</td>
                        <td>{{ export.dateTime|date('Y-m-d') }}</td>
                        <td>{{ export.dateTime|date('H:i') }}</td>
                        <td>{{ export.username }}</td>
                        <td>{{ export.place }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Brak wyników</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
